<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Polimetal SA - Inyeccion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">
    <link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    


    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
  </head>
  <body>
    
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">POLIMETAL S.A</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="#">Sign out</a>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">
                  <span data-feather="bar-chart-2"></span>
                    | Moldes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tornillos">
                  <span data-feather="file"></span>
                   |Tornillos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/modelos">
                  <span data-feather="bar-chart-2"></span>
                   |Modelos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                   |Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                   |Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                   |Integrations
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                   |Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                   |Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                   |Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                   |Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">Inyección - Modelos</h2>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                label(class="form-label" for="fini") Desde
                input(type="date", name="fini", class="form-control", id="fini")
              
                label(class="form-label") Hasta
                input(type="date", name="ffin", class="form-control", id="ffin")
                input(type="text", name="molde", placeholder="molde", id="molde")
                <button type="button" class="btn btn-sm btn-outline-secondary" id="consultar">
                  <span data-feather="search"></span>
                    |Consultar
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="limpiar()">
                  <span data-feather="refresh-cw"></span>
                    |Limpiar
                </button>
              </div>
              
            </div>
          </div>
          <h2>Scrap - Dia a Dia</h2>
          <div style="width: 100%; height: 450px;">
            
            <canvas id="myChart"></canvas>
          </div>
          <h2>Golpes vs OK RX - Dia a Dia</h2>
          <div style="width: 100%; height: 450px;">
              
              <canvas id="myChart2"></canvas>
          </div>
          
         

          <h2>Resumen Entre Fechas</h2>
          div(class="table-responsive")
            table(class="table table-striped table-sm")
              thead 
                th GOLPES
                th ISLA
                th RX 
                th Ok 
                th % SCRAP
              tbody
                td(id="golpes")
                td(id="isla")
                td(id="rx")
                td(id="ok")
                td(id="scrap") 

          <h2>Tabla Dia a Dia</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm" >
              <thead>
                <tr>
                  <th scope="col">FECHA</th>
                  <th scope="col">GOLPES</th>
                  <th scope="col">ISLA</th>
                  <th scope="col">RX</th>
                  <th scope="col">SCRAP</th>
                </tr>
              </thead>
              <tbody id="tabla">

              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./javascripts/dashboard.js"></script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    script.
      feather.replace({ 'aria-hidden': 'true' })
      document.addEventListener('DOMContentLoaded',function(){
        initChart();
        initChart2();
        let cons = document.getElementById('consultar');
        cons.addEventListener('click', (e) => {
          e.preventDefault();
          
          updateChart();
        });
        function initChart() {
            // Crea el gráfico en la carga de la página
            let ctx = document.getElementById('myChart').getContext("2d");
            let chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Scrap dia a dia',
                        data: [], // Los datos se actualizarán más tarde
                        borderWidth: 1
                    },
                    {
                        type: 'line',
                        label: 'Objetivo',
                        data: [],
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                },
                plugins:[ChartDataLabels]
            });

            return chart;
        }
        function initChart2() {
            // Crea el gráfico en la carga de la página
            let ctx = document.getElementById('myChart2').getContext("2d");
            let chart2 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    datasets: [{
                        label: 'Promedio de vida util',
                        data: [], // Los datos se actualizarán más tarde
                        borderWidth: 1
                    },
                    {
                        type: 'line',
                        label: 'Objetivo',
                        data: [400, 400, 400, 400, 400, 400, 400, 400, 400, 400, 400, 400],
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            
                        },
                        x:{
                          beginAtZero: true,
                          stacked:true
                        }
                    }
                },
                plugins:[ChartDataLabels]
            });

            return chart2;
        }
        function updateChart(){
          function fecha(x){
            let f = new Date(x);
            let dia=f.getDate();
            let mes = f.getMonth()+1;
            let año = f.getUTCFullYear();
            let fecha = dia+"/"+mes+"/"+año;
            return fecha
          }
            var fini = document.getElementById('fini').value;
            var ffin = document.getElementById('ffin').value;
            var molde = document.getElementById('molde').value;
            var tabla = document.getElementById('tabla');
            var golpes = document.getElementById('golpes');
            var isla = document.getElementById('isla');
            var rx = document.getElementById('rx');
            var ok = document.getElementById('ok');
            var scrap = document.getElementById('scrap');
            
          fetch(`modeloEntreFecha?fini=${fini}&ffin=${ffin}&molde=${molde}`)
            .then(response => response.json())
            .then(datos =>{

                let chart = Chart.instances[0];
                chart.data = {
                          labels: datos.map(e => fecha(e.FECHA)),
                          
                          datasets: [{
                            data: datos.map(e => e.Scrap),
                            label:'Scrap',
                            type:'line',
                            lineTension: 0,
                            backgroundColor: 'transparent',
                            borderColor: '#007bff',
                            borderWidth: 4,
                            pointBackgroundColor: '#007bff',
                            datalabels:{
                              align:'top',
                              font:{
                                weight:'bold'
                              },
                              formatter: function(value, context) {
                                  return Number(value*100).toFixed(2) + '%';
                                }
                            }
                          },
                          {
                            data: datos.map(e => 0.055),
                            label:'Objetivo',
                            type:'line',
                            lineTension: 0,
                            backgroundColor: 'transparent',
                            borderColor: '#990606',
                            borderWidth: 4,
                            pointBackgroundColor: '#007bff',
                            datalabels:{
                              display:false
                            }
                          }],
                          
                          
                        }
                    chart.update();

                    let chart2 = Chart.instances[1];
                    chart2.data = {
                          labels: datos.map(e => fecha(e.FECHA)),
                          
                          datasets: [{
                            data: datos.map(e => e.Golpes),
                            label:'Golpes dia a dia',
                            type:'bar',
                            lineTension: 0,
                            backgroundColor: 'transparent',
                            borderColor: '##007bff',
                            borderWidth: 1,
                            borderRadius:5,
                            pointBackgroundColor: '#007bff',
                            datalabels:{
                              offset:'top',
                              anchor:'end',
                              font:{
                                weight:'bold',
                                
                              }
                            }
                           
                          },
                          {
                            data: datos.map(e => e.ok),
                            label:'ok dia a dia',
                            type:'bar',
                            lineTension: 0,
                            backgroundColor: '#1E82CB',
                            borderColor: '#1E82CB',
                            borderWidth: 1,
                            borderRadius:5,
                            datalabels:{
                              color:'white',
                              anchor:'center',
                              font:{
                                weight:'bold',
                                
                              }
                            }
                           
                          },
                          {
                            data: datos.map(e => 230),
                            label:'Objetivo',
                            type:'line',
                            lineTension: 0,
                            backgroundColor: 'transparent',
                            borderColor: '#990606',
                            borderWidth: 2,
                            
                            pointBackgroundColor: '#007bff',
                            datalabels:{
                             display:false
                            }
                          }],
                          
                          
                        }  
                    chart2.update(); 
                        
                       

                  let golp=0;
                  let is=0;
                  let rxs=0;
                  
                  datos.map(e => {
                    golp += e.Golpes;
                    is += e.Isla;
                    rxs += e.Rx;
                    });
                  let oks=golp-(is+rxs);
                  let scraps=Number(((1-(oks/golp))*100).toFixed(2));
                  
                  golpes.innerHTML = golp;
                  isla.innerHTML = is;
                  rx.innerHTML = rxs;
                  ok.innerHTML = oks;
                  scrap.innerHTML = scraps;

                  tabla.innerHTML ="";
                  for(let i=0; i<datos.length;i++){
                    if((datos[i].Scrap*100).toFixed(2)>5){
                      
                      tabla.innerHTML += `
                    <tr>
                      <td>${fecha(datos[i].FECHA)}</td>
                      <td>${datos[i].Golpes}</td>
                      <td>${datos[i].Isla}</td>
                      <td>${datos[i].Rx}</td>
                      <td>${(datos[i].Scrap*100).toFixed(2)}% ❌</td>
                    </tr>`
                    }else{
                      tabla.innerHTML += `
                    <tr>
                      <td>${fecha(datos[i].FECHA)}</td>
                      <td>${datos[i].Golpes}</td>
                      <td>${datos[i].Isla}</td>
                      <td>${datos[i].Rx}</td>
                      <td>${(datos[i].Scrap*100).toFixed(2)}%</td>
                    </tr>`
                    }
                    
                  }
                  
                    
            })
          
                  

        }
      })

        
      


            
    
  </body>
</html>
